#topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #e6e6e6;
    color: black;
    cursor: pointer;
    padding: 30px;
    border-radius: 50%;
    font-family: "Ostrich Sans Medium";
    font-size: 30px;

    opacity: 0;
    transition: all 0.5s;
}

#topBtn.visible {
    opacity: 1;
}

#topBtn:hover {
    background: #bfbfbf;
    color: black;
}