.pagetext {
    padding: 10px;
}

.page {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.innerpage {
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 90%;
}

.row {
    display: flex;
}
.column {
    float: left;
}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: larger;
}
button {
    margin: 20px;
    text-align: center;
    font-size: large;
    width: 40%;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #4717F6;
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px;

}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

a {
    position: relative;
    text-decoration: none;
    color: #000000;
}
a:active {
    color: #000000;
    text-decoration: none;
}
a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #000000;
    transition: 0.4s;
}
a:hover:after {
    width: 100%;
}
