@font-face {
    font-family: "Ostrich Sans Black";
    src: url("fonts/ostrich-sans-master/OstrichSans-Black.otf") format("opentype");
}

@font-face {
    font-family: "Ostrich Sans Medium";
    src: url("fonts/ostrich-sans-master/OstrichSans-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Archivo Narrow";
    src: url("fonts/Archivo-Narrow/ArchivoNarrow-Regular.ttf") format("truetype");
}


body, html {
    height: 100%;
    margin: 0;
}

.fullPageContainer {
    height: 100%;
    width: 100%;
    margin: 0%;
}

.innerPageContainer {
    padding: 10%;
}

.txt {
    font-family: 'Archivo Narrow';
    font-size: 30px
}

section {
    opacity: 0;

    transform: translate(0, 20px);
    transition: all 1s;
}

section.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.emphasize {
    color: crimson;
}