a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
}
a:active {
    color: #FFFFFF;
    text-decoration: none;
}
a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #FFFFFF;
    transition: 0.4s;
}
a:hover:after {
    width: 100%;
}

.hcenter {
    margin: auto;
    width: 65%;

}
.vcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainText {
    border: 10px solid white;
    color: white;
    text-align: center;
    padding: 50px;
}


