.white-page-container {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;

    padding: 5%;

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

a.inline {
    position: relative;
    text-decoration: none;
    color: #373737;
}
a.inline:active {
    color: #373737;
    text-decoration: none;
}
a.inline:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #373737;
    transition: 0.4s;
}
a.inline:hover:after {
    width: 100%;
}

a.inline-hid {
    position: relative;
    text-decoration: none;
    color: #373737;
}
a.inline-hid:active {
    color: #373737;
    text-decoration: none;
}
